header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

/* isso deve ser feito dentro do <a> pq só queremos mexer no link, näo no item completo*/
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
/* 
    Algumas pseudo-classes CSS
    :hover -> quando o usuário passa o cursor sobre o elemento
*/

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000; /* para criar a borda, em ordem tamanho, tipo e cor*/
    border-radius: 10px; /* para criar bordas arredondadas*/
    }

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

/* 
    quando o mouse estiver em cima do li, quero alterar o h2
    que é o texto do título
*/

.produtos li:active {
    border-color: green;
}

/*
    active, quando um elemento está sendo ativado pelo usuário
*/

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descricaoProduto {
    font-size: 18px;
}

.precoProduto {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    /* para adicionar um background de uma imagem ao invés de cor
    utilizamos a tag url e não img src como no html`
    a imagem é pequena, e o css replica ela varias vezes para 
    fazer com que o site abra mais rapidamente*/
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.inputPadrao {
    display: block;
    margin-bottom: 15px;
    padding: 10px 25px; /* cima/baixo seguido de lados ficando padding: CIMA/BAIXO ESQUERDA/DIREITA*/
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #FFA500;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: #FF8C00;
    transform: scale(1.2);
}

/*
    Comentários:
    A realizar transições nos nossos elementos, com a propriedade CSS transition
    A modificar o estilo do ponteiro do mouse, quando passar por cima de determinado elemento, através da propriedade CSS cursor
    A realizar transformações nos nossos elementos, como aumentar proporcionalmente a escala de determinado elemento ou rotacioná-lo, através da propriedade CSS transform
*/